{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser %}
<!-- START OF MERCHANT SECTION -->
<main>
    <div class="container-fluid px-4 mt-5">
       {% include 'merchant_dashboard.html' %}
    </div>
</main>
<!-- END OF MERCHANT SECTION -->

<!-- START OF STORE ADMIN SECTION -->
{% elif user.is_storeadmin %}
<main>
    <div class="container-fluid mt-5 px-4">
      {% include 'storeadmin_dashboard.html' %}
       
    </div>
</main>
<!-- END OF STORE ADMIN SECTION -->
<!--Clerk user-->
{%else%}

<main>
    <div class="container">
        {% include 'clerk_dashboard.html' %}
    </div>

</main>
<!---->
{% endif %}
{% endblock %}
