{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h4 class="font-weight-bold mt-3">Dashboard</h4>
<div class="container-fluid">  
        <div class="">
            <h4>Store <strong>{{user.store}}</strong> Admin</h4>
        </div>
    <div class="d-flex text-right mb-3">  
        <div class="ml-lg-auto ml-sm-0">
        <button class="btn btn-sm btn-outline-dark" style="width:fit-content;margin:5px 5px;"
        data-toggle="modal" data-target="#update">
        <i class="fas fa-user-cog"></i>
        Update Clerk</button>
        <button class="btn btn-sm btn-outline-dark" style="width:fit-content;margin:5px 5px;" data-toggle="modal" data-target="#delete">
        <i class="fas fa-user-times" style="color:red;"></i>
        Delete Clerk</button>
        <button class="btn btn-sm btn-outline-dark" style="width:fit-content;margin:5px 5px;" data-toggle="modal" data-target="#activate">
        <i class="fas fa-user-check" ></i>
        Activate Clerk</button>
        <button class="btn btn-sm btn-outline-dark" style="width:fit-content;margin:5px 5px;"  data-toggle="modal" data-target="#deactivate">
        <i class="fas fa-user-minus" style='color:#e0a800'></i>
        Deactivate Clerk</button>
        <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#addclerkmodal">
                <i class="fa fa-user-plus" style="" aria-hidden="true"></i> Add clerk
            </button>
        </div>
    </div>
    {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
                {% endfor %}
    <div class="row">
         <div class="col-xl-3 col-md-6">
            <div class="card bg-dark text-white mb-4">
                <div class="card-body">Clerks</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="text-white stretched-link">{{clerks_count}}</a>
                    <div class="text-white"><i class="fas fa-3x fa-user-check"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card bg-secondary text-white mb-4">
              <div class="card-body">Stock in store {{request.usser.store}}</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="text-white stretched-link" >{{storeitems_count.number_of_items__sum}}</a>
                  <div class="text-white"><i class="fas fa-3x fa-dolly-flatbed"></i></div>
              </div>
          </div>
       </div>
       
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Deliveries</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="text-white stretched-link" >{{store_deliveries_count}}</a>
                    <div class="text-white"><i class="fas fa-3x fa-truck"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
              <div class="card-body">Unreponded Requests</div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="text-white stretched-link" >{{unresponded_requests_count}}</a>
                  <div class="text-white"><i class="far fa-3x fa-comments"></i></div>
              </div>
          </div>
        </div>
       
    </div>
  

    <!-- START OF DELIVERIES -->
    <div class="container bg-light rounded pt-2 pb-2 mb-3">
           <h4 class="mb-1 mt-2 font-weight-bold">Deliveries</h4>
          {% if individual_store_deliveries %}
              <h5 class="mt-1 font-weight-bold">Paid products</h5>

              <div class="table-responsive">
              <table id="paid_deliveriesTable" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>  
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th>Status</th>
                  <th>Items Received</th>
                  <th>Items Spoiled</th>
                  <th>Date received</th>
                </tr>
              </thead>
              <tbody>
              {% for item in individual_store_deliveries %}
                 {% if item.status %}
                    <tr>
                      <td>{{item.item_code}}</td>
                      <td><a href="#">{{item.item_name}}</a></td>
                      <td>
                      {% if item.status %}
                      <button class="btn btn-success btn-sm">Paid</button> 
                      {% else %}
                      <button class="btn btn-danger btn-sm">Not Paid</button> 
                      {% endif %}
                      </td>
                      <td>{{item.items_received}}</td>
                      <td>{{item.items_spoiled}}</td>
                      <td>{{item.date_delivered|date}}</td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table> 
            </div>

             <hr>
             <h5 class="mt-4 font-weight-bold">UnPaid products</h5>
             <div class="table-responsive">
              <table id="paid_deliveriesTable" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>  
                  <th>Item Code</th>
                  <th>Item Name</th>
                  <th>Status</th>
                  <th>Items Received</th>
                  <th>Items Spoiled</th>
                  <th>Date received</th>
                </tr>
              </thead>
              <tbody>
              {% for item in individual_store_deliveries %}
                 {% if item.status == False %}
                    <tr>
                      <td>{{item.item_code}}</td>
                      <td><a href="#">{{item.item_name}}</a></td>
                      <td>
                      {% if item.status == False %}
                          <button class="btn btn-outline-danger btn-sm">Confirm Paid</button> 
                      {% endif %}
                      </td>
                      <td>{{item.items_received}}</td>
                      <td>{{item.items_spoiled}}</td>
                      <td>{{item.date_delivered|date}}</td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table> 
             </div>
          {% else %} 
            <div class="alert alert-info text-center" role="alert">
               No deliveries has been made to your store!
            </div> 
          {% endif %}
    </div>
    <!-- END OF DELIVERIES -->


<!--=============================GRAPHS==================================-->
    <!-- START OF STOCK -->
      <div class="row bg-light pt-2 rounded">
        <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar me-1"></i>
                  DELIVERIES IN STORE {{user.store}}
              </div>
              <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 flex-fill bd-highlight">
                  <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm-8 mx-0">
                        <select class="form-control rounded-0" required name='product_name'>
                          <option value="">Select product</option>
                            {% for product in individual_store_stock %}
                              <option value="{{product.item_name}}">{{product.item_name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <button type="submit" value="searchproductby_product_name" name="store_admin" class="btn btn-primary">Filter</button>
                      </div>
                      
                    </div>
                     
                  </form>
                  
                </div>
                <div class="p-2 bd-highlight">
                </div>
              </div>
              <div class="card-body">
                {% if individual_store_deliveries %}
                   <canvas id="deliveriesChart" width='100%' height='80'></canvas>
                {% else %}
                      <div class="alert alert-info">No items has been delivered! </div>
                {% endif %}
              </div> 
          </div>
        </div>
        <!-- END OF STOCK  -->

        <!-- START DELIVERY PER STORE -->
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    STOCK IN STORE {{user.store}}
                </div>

                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 flex-fill bd-highlight">
                    <form method="post" action="">
                      {% csrf_token %}
                      <div class="form-group row">
                        <div class="col-sm-8 mx-0">
                          <select class="form-control rounded-0" required name='item_name'>
                            <option value="">Select product</option>
                            {% for product in individual_store_stock %}
                              <option value="{{product.item_name}}">{{product.item_name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-sm-2">
                          <button type="submit" name="store_admin" value="searchstockby_item_name" class="btn btn-outline-primary">Filter</button>
                        </div>
                        
                      </div>
                       
                    </form>
                    
                  </div>
                  <div class="p-2 bd-highlight">
                      <a type="submit" href="/dashboard" class="btn btn-outline-primary">All Products</a>
                  </div>
                </div>
                
                <div class="card-body">
                  {% if individual_store_stock %}
                          <canvas id="myChart" width="100%" height="80"></canvas>
                  {% else %}
                    <div class="alert alert-info">No products in stock! </div>
                  {% endif %}
                </div>
            </div>
        </div>
         <!--END OF STOCK PER STORE -->
       
    </div>
  
    
</div>


<!-- Modal -->
<div class="modal fade" id="addclerkmodal" tabindex="-1" aria-labelledby="addclerkmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="addclerkmodalLabel">Add Clerk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}
            <form method="POST" action="/addclerk">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" required name="name" placeholder="Enter name">
                </div>
                <div class="form-group  mb-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" required name="email" placeholder="Enter email">
                </div>
                <div class="form-group  mb-3">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" required name="username" placeholder="Enter username">
                </div>
                <div class="form-group  mb-3">
                    <label for="exampleInputEmail1">Phone number</label>
                    <input type="text" class="form-control" required name="phone" placeholder="Enter phone number">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>      
      </div>
  </div>
</div>
</div>
{% include 'storeadminoperations.html' %}


<!-- SCRIPT  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  // Tables
    $(document).ready( function () {
    $('#unpaid_deliveriesTable').DataTable();
} );
$(document).ready( function () {
    $('#paid_deliveriesTable').DataTable();
} );

$(document).ready( function () {
    $('#storeadminsTable').DataTable();
} );

//Start of deliveries charts
 var xValues =[{% for item in individual_store_deliveries %}'{{ item.item_name }}',{% endfor %}];
var yValues = [{% for item in individual_store_deliveries %}'{{ item.items_received }}',{% endfor %}];;
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("deliveriesChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: '{{individual_store_caption}}'
    }
  }
});
//End of Item charts


//Start of individual store Stock charts
var xValues = [{% for item in individual_store_stock %}'{{ item.item_name }}',{% endfor %}];
var yValues=[{% for item in individual_store_stock %}{{ item.number_of_items }},{% endfor %}];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart", {
  type: "bar",
  
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]

  },
  options: {
    scales: {
        yAxes: [{
            display: true,
            stacked: true,
            ticks: {
                min: 0, // minimum value
                max: 100, // maximum value
                stepSize: 5
            }
        }]
    },
    legend: {display: false},
    title: {
      display: true,
      text: '{{ individual_stock_caption }}'
    }
  }
});
//End of stock charts
</script>

