{% extends 'auth/auth_base.html' %}


{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div  class="alert alert-danger">{{ message }}</div>
                        {% else %}
                            <div  class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input class="form-control" name="email" type="email" placeholder="name@example.com" />
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" name="password" type="password" placeholder="Password" />
                                <label for="inputPassword">Password</label>
                            </div>
                            
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="password.html">Forgot Password?</a>
                                <button type="submit" class="btn btn-primary" >Login</button>
                            </div>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}